<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="footer__top__info">
                <p class="footer__top__text">
                    Subscribe to our newsletter
                </p>
                <p class="footer__top__text">
                    A monthly digest of the latest Sketch news, articles, and resources.
                </p>
            </div>
            <form>
                <div class="mb-3">
                    <input type="email"
                           class="form-control email"
                           placeholder="Email"
                           id="exampleInputEmail1"
                           aria-describedby="emailHelp">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">
                        I agree to receive marketing emails from
                        Sketch.
                    </label>
                </div>
                <button type="submit" class="btn btn-primary ">Submit</button>
            </form>
        </div>
        <hr class="hr">
        <div class="footer__bot">
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="" class="black">Sketch</a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__link">Overview</a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__link">Design</a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__link">Collaborate</a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__link">Pricing</a>
                </li>
            </ul>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="" class="black">Sketch</a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__link">Overview</a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__link">Design</a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__link">Collaborate</a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__link">Pricing</a>
                </li>
            </ul>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="" class="black">Sketch</a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__link">Overview</a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__link">Design</a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__link">Collaborate</a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__link">Pricing</a>
                </li>
            </ul>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="" class="black">Sketch</a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__link">Overview</a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__link">Design</a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__link">Collaborate</a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__link">Pricing</a>
                </li>
            </ul>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="" class="black">Sketch</a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__link">Overview</a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__link">Design</a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__link">Collaborate</a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__link">Pricing</a>
                </li>
            </ul>
        </div>
        <div class="footer__info">
            <p class="footer__col">
                © 2021 Sketch B.V.
            </p>
        </div>
    </div>
</footer>